<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CsVikram_HelloAdmin::helloadmin" title="Hello Admin" module="CsVikram_HelloAdmin" sortOrder="10" resource="CsVikram_HelloAdmin::helloadmin"/>
    </menu>
</config>
